
@using EntityLayer.Concrete
@model Companies
@{
    ViewData["Title"] = "Compare";
    Layout = "~/Views/Shared/_AdminDetailsLayout.cshtml";
    string marketPrice = Model.CompanyRegularMarketPrice.ToString("#.##");
    string marketChange = Model.CompanyRegularMarketChange.ToString("#.##");
    string marketVolume = Model.CompanyRegularMarketVolume.ToString("#.##");
    string marketDayLow = Model.CompanyRegularMarketDayLow.ToString("#.##");
    string marketDayHigh = Model.CompanyRegularMarketDayHigh.ToString("#.##");
    string marketBalance = Model.CompanyBalance.ToString("#,##0");
    string marketIncome = Model.CompanyIncomeStatement.ToString("#,##0");
    string marketEbitda = Model.CompanyEBITDA.ToString("#,##0");
    string marketProfit = Model.CompanyProfit.ToString("#,##0");
    string marketPriceGainRate = Model.CompanyPriceGainRate.ToString("#.##");
}

        

<div class="container-fluid">
    <form autocomplete="off"class="inline" id="searchForm">
        <input class="form-control" id="searchId" type="text" placeholder="Search for the company that you want to compare" name="symbol">
        <input id="searchButton" class="btn btn-outline-dark btn-hover search" type="submit" asp-controller="company" asp-action="details"  value="Search"/>
        </form>
        


        <div class="container-fluid">
        <div class="row">
            <div class="dashboard-div col-md-12 fw-bold fs-3 text-warning">Compare</div>
        </div>
        <div class="row ">
            <div class="col-md-6">
                <div class="card mb-3 bg-dark text-light">
                    <div class="card-header ">Information of <span class="text-warning">@Html.DisplayFor(ModelItem=>ModelItem.CompanyName)</span> </div>
                    <div class="card-body ">
                        

                            <p class="card-text">Market Price :          @Html.DisplayFor(modelItem=>marketPrice)</p>
                            <p class="card-text">Market Change Percent :          @Html.DisplayFor(modelItem=>marketChange)%</p>
                            <p class="card-text">Market Volume :          @Html.DisplayFor(modelItem=>marketVolume)</p>
                            <p class="card-text">Day Low :          @Html.DisplayFor(modelItem=>marketDayLow)</p>
                            <p class="card-text">Day High :          @Html.DisplayFor(modelItem=>marketDayHigh)</p>
                        
                        
                            <p class="card-text">Balance :          @Html.DisplayFor(modelItem=>marketBalance)</p>
                            <p class="card-text">Revenue :          @Html.DisplayFor(modelItem=>marketIncome)</p>
                            <p class="card-text">EBITDA :          @Html.DisplayFor(modelItem=>marketEbitda)</p>
                            <p class="card-text">Profit :          @Html.DisplayFor(modelItem=>marketProfit)</p>
                            <p class="card-text">Price Gain rate :          @Html.DisplayFor(modelItem=>marketPriceGainRate)</p>
                        
                            <div class="card text-dark">
                                    <div class="card-header text-dark">Charts</div>
                                        <div class="card-body">
                                            <canvas id="lineChart" width="400" height="200"></canvas>
                                        </div>
                                </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3 bg-dark text-light">
                    <div class="card-header ">Information of <span class="text-warning">Apple, Inc.</span> </div>
                    <div class="card-body ">
                        

                            <p class="card-text">Market Price :          @Html.DisplayFor(modelItem=>marketPrice)</p>
                            <p class="card-text">Market Change Percent :          @Html.DisplayFor(modelItem=>marketChange)%</p>
                            <p class="card-text">Market Volume :          @Html.DisplayFor(modelItem=>marketVolume)</p>
                            <p class="card-text">Day Low :          @Html.DisplayFor(modelItem=>marketDayLow)</p>
                            <p class="card-text">Day High :          @Html.DisplayFor(modelItem=>marketDayHigh)</p>
                        
                        
                            <p class="card-text">Balance :          @Html.DisplayFor(modelItem=>marketBalance)</p>
                            <p class="card-text">Revenue :          @Html.DisplayFor(modelItem=>marketIncome)</p>
                            <p class="card-text">EBITDA :          @Html.DisplayFor(modelItem=>marketEbitda)</p>
                            <p class="card-text">Profit :          @Html.DisplayFor(modelItem=>marketProfit)</p>
                            <p class="card-text">Price Gain rate :          @Html.DisplayFor(modelItem=>marketPriceGainRate)</p>
                        
                            
                                <div class="card text-dark">
                                    <div class="card-header text-dark">Charts</div>
                                        <div class="card-body">
                                            <canvas id="lineChart2" width="400" height="200"></canvas>
                                        </div>
                                </div>
                           
                    </div>
                </div>
            </div>



        </div>
        </div>
    </div>

<style>
    #searchForm{
        max-width:fit-content
    }
    #searchId{
        width:500px;
                                    
    }
</style>
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="path/to/chartjs/dist/chart.umd.js"></script>
    <script>
       
       


    </script>
}
